:root {
    --TEXT-OUTLINE: rgb(211, 233, 16);
    --TEXT-COLOR: rgb(2, 2, 2);

}

@font-face {
    font-family: Tekton;
    src: url("./fonts/TektonPro-BoldExt.otf");
}

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    background-color: blanchedalmond;
    display: grid;
    /* grid-template-columns: 1fr 0.3fr; */
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    min-height: 100vh;
    padding: 10px;
}

.board-container {
    justify-self:center;
    align-self: center;
    border: 3px solid black;
    max-width: 600px;
    min-width: 500px; 
    max-height: 600px;
    min-height: 500px; 
    display: grid;
    /* grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr); */
    padding: 0.4rem;
    background-color: darkcyan;
    border-radius: 5px;
}

.board {
    display: grid;
    max-width: 600px;
    min-width: 500px;
    max-height: 600px;
    min-height: 500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    outline: 1px solid darkcyan;
    background-color: white;
    border-radius: 5px;
    
}

.cell {
    outline: 1px solid black;
    border-radius: 5px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 8rem;
    font-family: Tekton;
}

.inactive {
    pointer-events: none;
}

.cell:hover {
    background-color: whitesmoke;
    box-shadow: 0px 0px 10px black inset;
    font-size: 7rem;
    text-shadow: 0 0 5px var(--TEXT-OUTLINE), 0 0 5px var(--TEXT-OUTLINE), 0 0 5px var(--TEXT-OUTLINE), 0 0 5px var(--TEXT-OUTLINE);
    color: var(--TEXT-COLOR)
}

.win {
    background-color: rgba(197, 180, 180, 0.548);
    color: rgb(37, 197, 5);
    text-shadow: 0 0 5px var(--TEXT-COLOR), 0 0 5px var(--TEXT-COLOR), 0 0 5px var(--TEXT-COLOR), 0 0 5px var(--TEXT-COLOR);
}

.draw {
    background-color: rgba(197, 180, 180, 0.548);
    color: rgb(219, 50, 8);
    text-shadow: 0 0 5px var(--TEXT-COLOR), 0 0 5px var(--TEXT-COLOR), 0 0 5px var(--TEXT-COLOR), 0 0 5px var(--TEXT-COLOR);
}

.controls-container {
    display: grid;
    grid-template-rows: 0.2fr auto 1fr;
    padding-right: 10px;
    padding-left: 10px;
    

}

.inputs-container {
    display: grid;
    gap: 1rem;

}

.input-container {
    display: grid;
    justify-content: center;
    gap: 0.2rem
}

label {
    justify-self: center;
    font-family: Tekton;
    font-size: 1rem;
}

input[type="text"] {
    appearance: none;
    outline: none;
    border: none;
    font-size: 2rem;
    font-family: Tekton;
    text-align: center;
    border-radius: 10px;
}

input[type="text"]:hover {
    /* background-color:rgb(143, 215, 233); */
    background: radial-gradient(white,rgb(143, 215, 233));
    color: rgb(15, 105, 207);
}

.inactive-input {
    pointer-events: none;
    background: radial-gradient(white,rgb(143, 215, 233));
    color: rgb(15, 105, 207);

}

.buttons-container {
    display: grid;
    grid-template-rows: repeat(3, minmax(25px, 75px));
    padding: 5px;
}

.start-container,
.restart-container,
.change-container {
    display:grid;
    align-self: center;
    justify-self: center;
}

.start,
.restart,
.change-player {
    font-family: Tekton;
    font-size: 1rem;
    outline: none;
    border: none;
    border-radius: 10px;
    appearance: none;
    width: 100px;
    height: 50px;
}

.start:hover,
.restart:hover,
.change-player:hover {
    background-color: coral;
    color:white;

}

.start:active,
.restart:active,
.change-player:active {
    background-color: darkred;
    color:white;
    box-shadow: 0px 0px 10px white inset;
}

.hidden {
    display: none;
}

.result {
    position: absolute;
    background-color: #f1f5f9;
    color:black;
    border-radius: 5px;
    /* display: grid;
    gap: 5px; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 5px 10px black;
    font-family: Tekton;
    font-size: 1rem;
    min-width: 300px;
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem;
}

.result-message {
    text-align: center;
}

.result-button {
    font-family: Tekton;
    font-size: 1rem;
    outline: none;
    border: none;
    border-radius: 10px;
    appearance: none;
    width: 100px;
    height: 50px;
    background-color: crimson;
    color: white;
}

.result-button:hover {
    outline: 1px solid black;
    color:black;
}
.result-button:active {
    box-shadow: 0px 0px 10px white inset;
    background-color: green;
    color: black;
}

.hidden {
    display: none;
}

